* {
    margin: 0;
    padding: 0;
  }

  html,
  body {
    height: 100vh;
    width: 100%;
  }

  body {
    font-family: 'Times New Roman', Times, serif;
    color: #333;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
    color: white;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    margin-bottom: 10px;
  }

  
.navbar {
    position: fixed;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2px 15px;
    width: 100%;
    box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.11);
    background-color: white;
}
nav .navbar {
    width: 100%; /* Adjust width if needed */
    margin: 0 auto; /* Center within the parent container */
}
nav {
    display: flex;
    justify-content: center;
    width: 100%;
}

.navbar img {
    height: 80px;
    width: 100px;
    margin-left: 85px;
}

.links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.links a {
    font-weight: 500;
    font-size: 23px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: 0.2s ease-in-out;
}

.links a:hover {
    color: green;
    scale: 1.2;
}

.searchbar {
    width: 500px;  
    margin-right: 30px;
    margin-left: 160px;
    display: flex;
    gap: 7px;
}

.searchbar input {
    font-size: 22px;
    border-radius: 10px;
    width: 100%;
    height: 50px;
    margin-left: 20px;
    border: 1px solid grey;
}

.searchbar input::placeholder {
    font-size: 19px;
    padding-left: 10px;
}

.searchbar button {
    width: 80px;
    font-size: 12px;
    border-radius: 10px;
    background-color: white;
    border: 1px solid green;
    color: green;
    padding: 5px;
    transition: all 0.1s ease-in-out;
}

.searchbar button:hover {
    color: white;
    background-color: green;
}

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.09)), url(/images/casino-background_2x.webp) no-repeat center center / cover;
    background-attachment: fixed;
    /* Add this property */
    flex: 1;
  }

  main div:not(.navbar) {
    background-color: transparent;
  }

  section {
    padding: 2em;
    margin-bottom: 20px;
    background-color: transparent;
  }

  .aboutus-container {
    display: flex;
    align-items: center;
  }

  .aboutus {
    width: 50%;
    color: white;
    text-align: center;
    margin: 20px auto;
    border: 5px solid white;
    border-radius: 10px;
    background-color: transparent;
    padding: 10px;
  }

  .aboutus h1 {
    font-size: 60px;
    color: white;
  }

  .aboutus p {
    font-size: 20px;
    padding-top: 10px;
    color: white;
  }

  h1 {
    font-size: 36px;
    margin-bottom: 10px;
  }

  h2 {
    font-size: 30px;
    margin-bottom: 10px;
  }

  p {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: justify;
    color: white;
  }

  ul {
    margin-bottom: 20px;
  }

  li {
    margin-bottom: 10px;
  }

  .what-we-offer {
    background-color: transparent;
  }

  .what-we-offer h2 {
    text-align: center;
  }

  .what-we-offer ul {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 20px;
    width: 100%;
    font-size: 20px;
  }

  .what-we-offer ul li {
    padding: 0px 20px;
    color: white;
  }

  .our-story-mission-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .our-story h2 {
    text-align: center;
  }

  .our-story {
    width: 50%;
    padding: 20px;
    background-color: transparent;
    border: 5px solid white;
    border-radius: 10px;
    margin-right: 20px;
  }

  .our-mission h2 {
    text-align: center;
  }

  .our-mission {
    width: 50%;
    padding: 20px;
    background-color: transparent;
    border: 5px solid white;
    border-radius: 10px;
    margin-left: 20px;
  }

  .our-values h2 {
    text-align: center;
  }

  .our-values {
    background-color: transparent;
  }

  .our-values ul {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 20px;
    width: 100%;
    font-size: 20px;
  }

  .our-values li {
    padding: 0px 20px;
    color: white;
  }

  .our-team {
    background-color: transparent;
  }

  .our-team h2 {
    text-align: center;
    font-size: 35px;
  }

  .our-team ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .our-team li {
    width: 30%;
    margin: 20px;
    padding: 10px;
    border: 5px solid white;
    border-radius: 10px;
    display: flex;
flex-direction: column;
align-items: center;
  }

  .our-team img {
    width: 30%;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
  }

  .our-team h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .get-in-touch {
    background-color: transparent;
  }

  .get-in-touch h2 {
    text-align: center;
    padding: 20px;
  }

  .get-in-touch p {
    text-align: center;
  }

  .get-in-touch ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 20px;
    width: 100%;
    font-size: 20px;
    color: white;
  }

  .content-wrapper {
    background: linear-gradient(rgba(0, 0, 0, 0.702), rgba(0, 0, 0, 0.702)), url(/images/WhatsApp\ Image\ 2024-09-01\ at\ 6.41.10\ PM.jpeg) no-repeat center center / cover;
    background-attachment: fixed;
    padding-bottom: 100px;
  }

  footer {
    background-color: #06192de9;
    color: #d3d3d3;
    padding: 10px 10px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: auto;
  }

  .footer-container {
    max-width: 1200px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-logo {
    display: flex;
    gap: 20px;
  }

  .footer-logo h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #fff;
  }

  .footer-logo .social-icons {
    margin-top: 5px;
  }

  .footer-logo .social-icons i {
    transition: all 0.2s ease-in-out;
  }

  .footer-logo .social-icons i:hover {
    transform: scale(1.1);
  }

  .social-icons a {
    color: #d3d3d3;
    margin: 5px 8px;
    font-size: 26px;
    text-decoration: none;
  }

  .footer-columns {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
  }

  .footer-column {
    flex: 1;
    margin: 0 10px;
  }

  .footer-column h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #fff;
  }

  .footer-column ul {
    list-style: none;
    padding: 0;
  }

  .footer-column ul li {
    margin-bottom: 4px;
  }

  .footer-column ul li a {
    color: #d3d3d3;
    text-decoration: none;
    font-size: 14px;
  }

  .footer-column ul li a:hover {
    color: #ffffff;
    text-decoration: underline;
    transform: scale(1.1);
  }

  .footer-bottom {
    margin-top: 10px;
    font-size: 12px;
    color: #777;
    text-align: center;
    width: 100%;
  }

  .footer-bottom p {
    margin: 0;
  }